# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/

# Project specific files
nohup.out
*.nohup
*.log
.DS_Store

Project_Report.pdf

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS specific
Thumbs.db
Desktop.ini 